<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/cars">Cars</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="callCarsOnTheRoute()" routerLink="/dashboard">On the route</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="callCarsOnGarage()" routerLink="/dashboard">Garage</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
